NEXT_PUBLIC_GA_ID="UA-210303881-1"
NEXT_PUBLIC_CONNECTION_NETWORK="devnet"
NEXT_PUBLIC_SOLANA_RPC_HOST_MAINNET_BETA="https://ssc-dao.genesysgo.net/"
NEXT_PUBLIC_SOLANA_RPC_HOST_DEVNET="http://127.0.0.1:8899"
NEXT_PUBLIC_WINNER_WHEEL_PROGRAM_ID=HgAFqAPpb1DU197DRcVcMwXWTKN2q3ChjvpxrwUfv6Ym
NEXT_PUBLIC_HOUSE_PUBLIC_KEY=HXfhNmERuTVKA6EtksDjXFdwPkR4he7eDcYq53stWbCo

ANCHOR_PROVIDER_URL=http://127.0.0.1:8899
ANCHOR_WALLET=/Users/ricardosouza/workspace/winner-house/winner-wheel/target/deploy/winner_wheel-keypair.json