@font-face {
	font-family: 'AvertaStd-Regular';
	src: url('/fonts/AvertaStdRegular/font.woff2') format('woff2'),
		url('/fonts/AvertaStdRegular/font.woff') format('woff');
}

@font-face {
	font-family: 'AvertaStd-Bold';
	src: url('/fonts/AvertaStdBold/font.woff2') format('woff2'),
		url('/fonts/AvertaStdBold/font.woff') format('woff');
}

@font-face {
	font-family: 'Windsor Light BT';
	src: url('/fonts/windsor-light-bt.ttf') format('truetype');
}

@font-face {
	font-family: 'Windsor Light Condensed BT';
	src: url('/fonts/windsor-light-condensed-bt.ttf') format('truetype');
}

